.bookContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    transition: transform 0.3s ease;
    width: 30px;
    align-items: flex-end;
    cursor: pointer;
}


.bookContainer h1{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: large;
    white-space: nowrap;
}

.bookContainer:hover{
    transform: translateY(-5px);
}


.book--small  {  height: 200px; }
.book--medium {  height: 210px; }
.book--large  {  height: 250px; }
